{% extends "base.html" %}

{% block title %}Apple SUS Admin{% endblock %}

{% block page-content %}
<div class="wrap">

  {% if is_admin %}
    <form method="POST">
    <fieldset>
      <legend>Regenerate Catalogs</legend>
      <input type="hidden" name="regenerate-catalogs" value="1"/>
      {% for track in tracks reversed %}
        <input type="checkbox" class="tags" name="tracks" value="{{ track }}" id="track_{{ track }}"/>
        <label for="track_{{ track }}">{{ track }}</label>
      {% endfor %}
      <button type="submit">Regenerate Catalogs</button>
    </fieldset>
    </form>
  {% endif %}

  <div class="sectionheader">Apple Catalog Sync</div>
  {% if catalogs %}
    <table class="stats-table">
      <tr><th>OS Version</th><th>Synced From Apple</th><th>Time Since</th></tr>
      {% for catalog in catalogs %}
        <tr>
          <td>{{ catalog.version }}</td>
          <td>{{ catalog.download_datetime }}</td>
          <td>{{ catalog.download_datetime|timesince }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    No catalogs have been synced.  This may take up to 12 hours after your first deployment.
  {% endif %}

  <div class="sectionheader">Apple Update List</div>

  <div class="infopanel">
    {% if auto_promote_enabled %}
      Unless "Manual Override" is enabled, Apple Updates will auto-promote from unstable to testing after {{ unstable_grace_period_days }} days (excluding weekends) and from testing to stable on the next {{ auto_promote_stable_weekday }} that is {{ testing_grace_period_days }}+ days past the testing promotion date.
    {% else %}
      Apple Update Auto-Promotions are disabled! To enable, visit Admin Tools - Configuration.
    {% endif %}
    {% if is_admin %}
      <p>
        Note: if other admins are changing tracks of below products, select box
        state may be inaccurate until you refresh the page.
      </p>
    {% endif %}
  </div>

  <table class="stats-table">
    <tr class="multi-header">
       <th>Name</th>
       <th>Version</th>
       <th>Product ID</th>
       <th>Apple Release</th>
       <th>Testing Date</th>
       <th>Stable Date</th>
       <th>Manual Override</th>
       <th>Tracks</th>
    </tr>
    {% for p in products %}
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.version }}</td>
        <td><a href="#" onclick="javascript:window.open('/admin/applesus/product/{{ p.product_id }}', 'applesusdesc', 'height=200,width=400');">{{ p.product_id }}</a></td>
        <td>{{ p.apple_mtime }}</td>
        <td><span id="{{ p.product_id }}-testing-promote-date">
          {{ p.testing_promote_date }}</span>
        </td>
        <td><span id="{{ p.product_id }}-stable-promote-date">
          {{ p.stable_promote_date }}</span>
        </td>
        <td>
          <span class="ajaxtoggle {% if p.manual_override %}istrue{% endif %}"
            {% if is_admin %}onclick="applesus.toggleProductManualOverride('{{ p.product_id }}', this);"{% endif %}>
          </span>
        </td>
        <td>
          {% for track in tracks reversed %}
            <span class="ajaxtags {% if track in p.tracks %}istrue{% endif %}"
                {% if is_admin %}
                  onclick="applesus.toggleProductTrack('{{ p.product_id }}', '{{ track }}', this);"
                {% endif %}
                >{{ track }}</span>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
