{% extends "base.html" %}

{% block title %}Apple Updates Product Logs{% endblock %}

{% block page-content %}

{% include "results_pagination.html" %}

{% if logs %}
  <table class="stats-table">
    <tr>
       <th>Update ID</th>
       <th>Action</th>
       <th>Tracks</th>
       <th>User</th>
       <th>Time</th>
       <th>Time Since</th>
    </tr>
    {% for log in logs %}
      <tr>
        <td>{{ log.product_id }}</td>
        <td>{{ log.action }}</td>
        <td>{{ log.tracks|tracks_display }}</td>
        <td>{{ log.user|default_if_none:"(auto)" }}</td>
        <td>{{ log.mtime }}</td>
        <td>{{ log.mtime|timesince }}</td>
      </tr>
    {% endfor %}
  </table>

{% include "results_pagination.html" %}

{% endif %}

{% endblock %}


