{% extends "base.html" %}

{% block title %}Apple SUS Admin{% endblock %}

{% block page-content %}
<div class="wrap">

  {% if is_admin %}
    <form method="POST">
    <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}" />
    <fieldset>
      <legend>Regenerate Catalogs</legend>
      <input type="hidden" name="regenerate-catalogs" value="1"/>
      {% for track in tracks reversed %}
        <input type="checkbox" class="tags" name="tracks" value="{{ track }}" id="track_{{ track }}"/>
        <label for="track_{{ track }}">{{ track }}</label>
      {% endfor %}
      <button type="submit">Regenerate Catalogs</button>
    </fieldset>
    </form>
  {% endif %}

  <div class="sectionheader">
    Apple Catalog Generation
    {% if catalogs_pending.unstable or catalogs_pending.testing or catalogs_pending.unstable %}(* pending){% endif %}
  </div>
  {% if catalogs %}
    <table class="stats-table">
      <tr>
        <th>OS Version</th><th>Synced From Apple</th>
        <th>Unstable {% if catalogs_pending.unstable %}*{% endif %}</th>
        <th>Testing {% if catalogs_pending.testing %}*{% endif %}</th>
        <th>Stable {% if catalogs_pending.stable %}*{% endif %}</th>
      </tr>
      {% for catalog in catalogs %}
        <tr>
          <td>{{ catalog.os_version }}</td>
          <td>{{ catalog.untouched }} ({{ catalog.untouched|timesince }} ago)</td>
          <td>{{ catalog.unstable }} ({{ catalog.unstable|timesince }} ago)</td>
          <td>{{ catalog.testing }} ({{ catalog.testing|timesince }} ago)</td>
          <td>{{ catalog.stable }} ({{ catalog.stable|timesince }} ago)</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    No catalogs have been synced.  This may take up to 12 hours after your first deployment.
  {% endif %}

  <div class="sectionheader">Apple Update List</div>

  <div class="infopanel">
    {% if auto_promote_enabled %}
      Unless "Auto-Promo Override" is enabled, Apple Updates will auto-promote from unstable to testing after {{ unstable_grace_period_days }} days (excluding weekends) and from testing to stable on the next {{ auto_promote_stable_weekday }} that is {{ testing_grace_period_days }}+ days past the testing promotion date.
    {% else %}
      Apple Update Auto-Promotions are disabled! To enable, visit Admin Tools - Configuration.
    {% endif %}
    {% if is_admin %}
      <p>
        Note: if other admins are changing tracks of below products, select box
        state may be inaccurate until you refresh the page.
      </p>
    {% endif %}
  </div>

  <table class="stats-table">
    <tr class="multi-header">
       <th>Name</th>
       <th>Product ID</th>
       <th>Files</th>
       <th>Apple Release</th>
       <th>Logs</th>
       <th>Success*</th>
       <th>Failed*</th>
       <th>Pending</th>
       <th>Force Install After Date<br />YYYY-MM-DD HH:MM</th>
       <th>Unattended</th>
       <th>Auto-Promo<br />Override</th>
       <th>Tracks</th>
    </tr>
    {% for p in products %}
      <tr id="update-{{ p.product_id }}">
        <td title="{{ p.name }} - {{ p.version }} {{ p.restart_required|yesno:"- Restart Required," }}">
          {{ p.name }} {% if p.version %}- {{ p.version }}{% endif %}
          {% if p.restart_required %}<img src="/admin/static/restart.png" style="padding-left: 1em" title="Restart Required" />{% endif %}
          <a class="anchor" href="#update-{{ p.product_id|urlencode }}" title="Link to this update">&para;</a>
        </td>
        <td>
          <div style="width: 7em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            <a href="#" onclick="javascript:window.open('/admin/applesus/product/{{ p.product_id }}', 'applesusdesc', 'height=200,width=400');" title="Pop-up Product Description">{{ p.product_id }}</a>
          </div>
        </td>
        <td>{% if p.package_urls|length <= 2 %}
              {% for pkg_url in p.package_urls %}
               <a href="{{ pkg_url }}" title="{{ pkg_url }}"
                  class="downloadpkg">{{ pkg_url|slice:"-3:"|upper }}</a>
              {% endfor %}
            {% else %}
              {{ p.package_urls|length }} files
            {% endif %}
        </td>
        <td>{{ p.apple_mtime|date:"Y-m-d" }}</td>
        <td>
          <a href="/admin/applesus/logs?product_id={{ p.product_id }}">logs</a>
        </td>
        <td><a href="/admin/installs?applesus=1&pkg={{ p.munki_name }}">{{ p.munki_name|install_count:install_counts }}</a></td>
        <td><a href="/admin/installs?applesus=1&pkg={{ p.munki_name }}&failures=1">{{ p.munki_name|failure_count:install_counts }}</a></td>
        <td><a href="/admin/installs?pkg=AppleSUS: {{ p.munki_name }}&pending=1" title="{{ p.munki_name }} pending installs">pending</a></td>
        <td>
          {% if is_admin %}
            <input type="text" name="force_install_after_date"
                   style="width: 10em;"
                   value="{{p.force_install_after_date|date:"Y-m-d H:i"}}"
                   onchange="applesus.setForceInstallAfterDate('{{ p.product_id }}', this, '{{ xsrf_token }}');" />
          {% else %}
            {{ p.force_install_after_date }}
          {% endif %}
        </td>
        <td>
          {% if p.restart_required %}
            <span title="Disabled due to restart requirement">N/A</span>
          {% else %}
            <span class="ajaxtoggle {% if p.unattended %}istrue{% endif %}"
              {% if is_admin %}onclick="applesus.toggleProductUnattended('{{ p.product_id }}', this, '{{ xsrf_token }}');"{% endif %}>
            </span>
          {% endif %}
        </td>
        <td>
          <span class="ajaxtoggle {% if p.manual_override %}istrue{% endif %}"
            {% if is_admin %}onclick="applesus.toggleProductManualOverride('{{ p.product_id }}', this, '{{ xsrf_token }}');"{% endif %}>
          </span>
        </td>
        <td>
          {% for track in tracks reversed %}
            <span class="ajaxtags {% if track in p.tracks %}istrue{% endif %}"
                {% if is_admin %}
                  onclick="applesus.toggleProductTrack('{{ p.product_id }}', '{{ track }}', this, '{{ xsrf_token }}');"
                {% endif %}
              {% if track == 'testing' and p.testing_promote_date %}
                >{{ track }} ({{ p.testing_promote_date|date:"b d" }})</span>
              {% else %}
                {% if track == 'stable' and p.stable_promote_date %}
                  >{{ track }} ({{ p.stable_promote_date|date:"b d" }})</span>
                {% else %}
                  >{{ track }}</span>
                {% endif %}
              {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>

  <p>* success/failure counts last cached {{ install_counts_mtime|timesince }} ago.</p>
</div>

{% endblock %}
