{% extends "base.html" %}

{% block title %}Apple Updates Product Logs{% endblock %}

{% block page-content %}

{% if product_id %}
  <h2>Apple Update Logs: {{ product_id }} {{ display_name|default_if_none:"" }}</h2>
{% endif %}

<div style="margin-bottom:5px;">
  {% include "results_pagination.html" %}
</div>

{% if logs %}
  <table class="stats-table">
    <tr>
       {% if not product_id %}
       <th>Update ID</th>
       {% endif %}
       <th>Action</th>
       <th>Tracks</th>
       <th>User</th>
       <th>Time</th>
       <th>Time Since</th>
    </tr>
    {% for log in logs %}
      <tr>
        {% if not product_id %}
          <td><a href="/admin/applesus/logs?product_id={{ log.product_id }}">{{ log.product_id }}</a>
          </td>
        {% endif %}
        <td>{{ log.action }}</td>
        <td>{{ log.tracks|tracks_display_no_proposals }}</td>
        <td>{{ log.user|default_if_none:"(auto)" }}</td>
        <td>{{ log.mtime }}</td>
        <td>{{ log.mtime|timesince }}</td>
      </tr>
    {% endfor %}
  </table>

{% include "results_pagination.html" %}

{% endif %}

{% endblock %}
