<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Simian Admin: {% block title %}{% endblock %}</title>
  <link href="{{ static_path }}/admin/css/main.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{ static_path }}/admin/js/simian.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link rel="icon" href="/admin/static/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/admin/static/favicon.ico" type="image/x-icon"/>
  {% block head-content %}{% endblock %}
  </head>
<body>
{% block body %}
  <script type="text/javascript">simian.menu.updateMenu();</script>
  {% block header %}
    <header>
      <div id="search">
        <a href="javascript:simian.closeSearch();void(0);" class="closebutton"></a>
        <form class="search" action="/admin" method="GET">
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:110px;text-align:right;">
              <select name="filter-type">
                <option value="hostname" {% if search_type == "hostname" %}selected{% endif %}>Hostname</option>
                <option value="os_version" {% if search_type == "os_version" %}selected{% endif %}>OS Version</option>
                <option value="serial" {% if search_type == "serial" %}selected{% endif %}>Serial</option>
                <option value="site" {% if search_type == "site" %}selected{% endif %}>Site</option>
                <option value="owner" {% if search_type == "owner" %}selected{% endif %}
                        {% if not search_type %}selected{% endif %}>Username</option>
                <option value="uuid" {% if search_type == "uuid" %}selected{% endif %}>UUID</option>
                <option value="tag" {% if search_type == "tag" %}selected{% endif %}>Tag</option>
                <option value="group" {% if search_type == "group" %}selected{% endif %}>Group</option>
              </select>
            </td>
            <td>
              <input type="text" name="filter" id="search-box" value="{{ search_term }}" />
            </td>
            <td style="padding:0 0 0 4px">
              <button type="submit"><img src="/admin/static/search.svg"></button>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="right">
              <label for="search-inactive">Include Inactive?</label>
              <input type="checkbox" name="include-inactive" id="search-inactive" />
            </td>
            <td>&nbsp;</td>
          </tr>
        </table>
        </form>
      </div>
      {% if report_type == "summary" or report_type == "search" %}
        <script type="text/javascript">
          document.getElementById('search-box').focus();
        </script>
      {% endif %}
    </header>
    {% if msg %}
      <div id="butterbar">{{ msg|escape }}</div>
      <script type="text/javascript">
        (function() {
          var bb = document.getElementById('butterbar');
          bb.style.top='56px';
          setTimeout(function(){bb.style.opacity=0;}, 8000);
        })();
      </script>
    {% endif %}

  <div class="head" onMouseOver="simian.menu.toggleMenu();">
    <a class="title1" href="/admin">Simian</a>
    <span class="subtitle">&ldquo;All your Mac are belong to us&rdquo;</span>
  </div>
  {% endblock %}

  {% block menu %}
    <div id="menu">
      <a id="menutoggle" onclick="simian.menu.toggleMenu(true);" onMouseOver="simian.menu.toggleMenu();"></a>
      <a id="menucollapse" onclick="simian.menu.toggleMenu(true);">&laquo; collapse</a>
      <a id="menupin" onclick="simian.menu.pinMenu();"></a>
      <div id="menuwrap">
      <ul>
        {% for key, value in menu.items %}
          {% if is_admin or not value.admin_only %}
          {% if value.url %}
            <li {% if report_type == item.type %}class="selected"{% endif %}>
              <a href="{{ value.url }}">{{ value.name }}</a>
            </li>
          {% else %}
            {% if value.subitems %}
              <li><a class="zippy_toggle
              {% for subitem in item.subitems %}{% if report_type == subitem.type %}expanded{% endif %}{% endfor %}"
                     title="zippy_{{ key }}">{{ value.name }}</a>
                <ul id="zippy_{{ key }}">
                {% for subkey, subitem in value.subitems.items %}
                  <li {% if report_type == subitem.type %}class="selected"{% endif %}>
                    <a href="{{ subitem.url }}">{{ subitem.name }}</a>
                  </li>
                {% endfor %}
                </ul>
              </li>
            {% else %}
              {% if value.title %}<hr><h3>{{ value.title }}</h3>{% endif %}
            {% endif %}
          {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
      </div>
    </div>
    <script type="text/javascript">simian.zippyfy('menu');</script>
  {% endblock %}

  <div id="content" onMouseOver="simian.menu.hideMenu();">
    {% block page-content %}{% endblock %}
  </div>

{% endblock %}
</body>
</html>
