{% if host_report %}
  <div>
  <h3>Munki Installs</h3>
  <span class="count">({{ installs|length }} found, limit {{ limit }})</span>
  </div>
{% endif %}

{% if installs %}
  <table class="stats-table">
    <tr class="multi-header">
      {% if host_report or pkg == "all" %}<th>Package</th>{% endif %}
      {% if not host_report %}
        <th>UUID</th>
      {% endif %}
      <th>Status</th>
      <th>On Corp</th>
      <th>Download Speed</th>
      <th>Install Duration Secs</th>
      <th>Time</th>
      <th>Time Since</th>
    </tr>
    {% for install in installs %}
    <tr>
      {% if host_report or pkg == "all" %}
        <td><a href="/admin/installs?pkg={{ install.package }}&applesus={{ applesus|yesno:"1,0" }}">{{ install.package }}</a></td>
      {% endif %}
      {% if not host_report %}
      <td>
        {{ install.uuid|host_uuid_link }}
      </td>
      {% endif %}
      <td>{{ install.status }}</td>
      <td>{{ install.on_corp }}</td>
      <td>{{ install.dl_kbytes_per_sec|download_speed }}</td>
      <td>{{ install.duration_seconds|default_if_none:"N/A" }}</td>
      <td>{{ install.mtime }}</td>
      <td>{{ install.mtime|timesince }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
