{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block page-content %}
  <script type="text/javascript">
    addItem = function(values) {
      var tr = document.createElement('tr');
      for(var i = 0; i < {{ columns }}; i++) {
        tr.innerHTML += '<td>' +
          '<input type="text" name="item_' + i + '"' +
          '{% if regex %}oninput="simian.validateField(this, [{% for r in regex %}{{ r|escapejs }},{% endfor %}][' + i + ']);"{% endif %}' +
          (values && values[i] ? 'value="' + values[i] + '"' : '') + '/ >' +
          '</td>';
      }
      tr.innerHTML += '<td><a onclick="delItem(this);">delete</a></td>';
      document.getElementById('items').appendChild(tr);
      {% if regex %}
        var inputs = tr.getElementsByTagName('input');
        for(var i = 0; i < inputs.length; i++) {
          simian.validateField(inputs[i], [{% for r in regex %}{{ r }},{% endfor %}][i]);
        }
      {% endif %}
      updateCount();
    };
    delItem = function(button) {
      button.parentNode.parentNode.parentNode.removeChild(button.parentNode.parentNode);
      updateCount();
    };
    updateCount = function() {
      simian.setTextContent(document.getElementById('itemcount'),
        '(' + document.getElementById('items').getElementsByClassName('tr').length + ')');
    };
  </script>
  <div><h2>{{ title }}</h2> <span class="count" id="itemcount">({{ list|length }})</span></div>
  {% if infopanel %}<div class="infopanel">{{ infopanel }}</div>{% endif %}
  <form method="post" style="display: inline-block">
    <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}" />
    <table id="items" style="margin: 10px;">
      {% if labels %}
        <tr>{% for label in labels %}<th>{{ label }}</th>{% endfor %}</tr>
      {% endif %}
      <script type="text/javascript">
        var items = [{% for item in list %}['{{ item|join:"', '"}}'],{% endfor %}];
        items.map(addItem);
      </script>
    </table>
    <a onclick="addItem();">+ Add</a>
    <br/>
    <div style="text-align:right;">
      <button type="button" onclick="{% if back %}simian.setLocationHref(location, '{{ back }}');{% else %}location.reload(true);{% endif %}">Cancel</a>
      <button type="submit" name="submit">Save</button>
    </div>
  </form>
{% endblock %}
