{% extends "base.html" %}

{% block title %}Dynamic Manifest Modifications{% endblock %}

{% block page-content %}
 {% if can_add_manifest_mods %}
  <form method="POST" action="/admin/manifest_modifications">
    <fieldset>
    <legend>Add New Manifest Modification</legend>

    <input type="hidden" name="add_manifest_mod" value="1" />

    Mod Type:
    <select name="mod_type">
      {% for key, value in mod_types %}
        <option value="{{ key }}">{{ value }}</option>
      {% endfor %}
    </select>
    Target:
    <input type="text" name="target" size="50"/><br />

    Munki Package Name:
    <select name="munki_pkg_name">
      <option selected="selected"/>
      {% for item in munki_pkg_names %}
        <option value="{{ item.name }}">{{ item.munki_name }}</option>
      {% endfor %}
    </select>
    <br />

    {% if is_admin %}
      Install Types:
      {% for install_type in install_types %}
        <input type="checkbox" name="install_types" value="{{ install_type }}"
               id="type-{{ install_type }}" class="tags" />
        <label for="type-{{ install_type }}">{{ install_type }}</label>
      {% endfor %}
      <br />

      Manifests:
      {% for manifest in manifests %}
        <input type="checkbox" name="manifests" value="{{ manifest }}"
               id="manifest-{{ manifest }}" class="tags" />
        <label for="manifest-{{ manifest }}">{{ manifest }}</label>
      {% endfor %}
      <br />
    {% endif %}

    <button type="submit">Save</button>
    </fieldset>
  </form>
{% endif %}

<p>
  Select a mod type to view:
  <a href="?mod_type=owner">Owner</a> |
  <a href="?mod_type=uuid">UUID</a> |
  <a href="?mod_type=site">Site</a> |
  <a href="?mod_type=os_version">OS Version</a> |
  <a href="?mod_type=tag">Tag</a>
</p>

{% if mod_type %}
  <h3>Existing "{{ mod_type }}" Manifest Modifications</h3>

  {% include "results_pagination.html" %}

  {% if mods %}
  <table class="stats-table">
    <tr class="multi-header">
       <th>Target</th><th>Package</th><th>Manifests</th>
       <th>Install Types</th><th>Mod Time</th><th>Time Since</th>
       <th>Admin</th><th>Enabled</th>
    </tr>
    {% for m in mods %}
      <tr>
        <td>
          <a href="/admin?filter-type={{ mod_type }}&filter={{ m.target }}">{{ m.target }}</a>
        </td>
        <td>{{ m.value }}</td>
        <td>
          {% for manifest in m.manifests %}
            {{ manifest }},
          {% endfor %}
        </td>
        <td>
          {% for install_type in m.install_types %}
            {{ install_type }},
          {% endfor %}
        </td>
        <td>{{ m.mtime }}</td>
        <td>{{ m.mtime|timesince }}</td>
        <td>{{ m.user }}</td>
        <td>
          <span class="ajaxtoggle {% if m.enabled %}istrue{% endif %}"
            {% if is_admin %}onclick="simian.toggleManifestModification('{{ m.key }}', this);"{% endif %}>
          </span>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No modifications found.</p>
  {% endif %}

  {% include "results_pagination.html" %}

{% endif %}

{% endblock %}
