{% extends "base.html" %}

{% block title %}MSU Logs Summary{% endblock %}

{% block page-content %}

{% if summaries %}
    {% for summary in summaries %}
      <div style="float: left; margin-right: 4em;">
        {% include "msu_log_summary_list.html" %}
      </div>
    {% endfor %}
{% else %}
  {% if msu_events %}
    <h3>MSU Log Event: {{ msu_event_name }}</h3>
    <a href="/admin">Back to admin home</a>

    <div style="margin-bottom:5px;">
      {% include "results_pagination.html" %}
    </div>

    <table class="stats-table">
    <tr><th>UUID</th><th>User</th><th>Event Time</th><th>Description</th></tr>
    {% for e in msu_events %}
      <tr>
        <td>{{ e.uuid|host_uuid_link }}</td>
        <td>{{ e.user }}</td>
        <td>{{ e.mtime }} ({{ e.mtime|timesince }})</td>
        <td>{{ e.desc }}</td>
      </tr>
      {% endfor %}
    </table>

    {% include "results_pagination.html" %}

  {% else %}
    <p>No MSU Log Summary data was found.</p>
  {% endif %}
{% endif %}
{% endblock %}
