{% extends "base.html" %}

{% block title %}Package Alias{% endblock %}

{% block page-content %}
<div class="wrap">
  <h2>Package Alias Admin</h2>

  {% if is_admin %}
  <fieldset>
  <legend>Add New or Edit Existing Package Alias</legend>
  <div class="infopanel">
    To silence "Unknown pkg_alias requested" API warnings,
    add an alias with a blank Munki package name.
  </div>
  {% if error %}<p style="color: #FF0000;">{{ error }}</p>{% endif %}
  <form method="POST">
    <input type="hidden" name="create_package_alias" value="1" />
    Package Alias: <input type="text" name="package_alias" />
    Munki Package Name:
    <select name="munki_pkg_name">
      <option selected="selected"/>
      {% for item in munki_pkg_names %}
        <option value="{{ item.name }}">{{ item.munki_name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Save</button>
  </form>
  </fieldset>

  <h2>Existing Package Aliases</h2>
  {% endif %}

  <table class="stats-table">
    <tr class="multi-header">
      <th>Package Alias</th><th>Munki Package Name</th><th>Enabled</th>
    </tr>
    {% for a in package_aliases %}
      <tr>
        <td>{{ a.key.name }}</td>
        <td>{% if a.munki_pkg_name %}{{ a.munki_pkg_name }}{% endif %}</td>
        <td>
          <span class="ajaxtoggle {% if a.enabled %}istrue{% endif %}"
            {% if is_admin %}onclick="simian.togglePackageAlias('{{ a.key.name }}', this);"{% endif %}>
          </span>
        </td>
      </tr>
    {% endfor %}
  </table>

</div>

{% endblock %}
