{% extends "base.html" %}

{% block title %}Logs{% endblock %}

{% block page-content %}

{% if filename %}
  <h2>
  {% if report_type == "proposal_logs" %}
    Proposals
  {% else %}
    Package
  {% endif %}
    Logs: {{ filename }}</h2>
  {% if is_admin %}
    <a href="/admin/package/{{ filename }}">(edit)</a>
  {% endif %}
{% endif %}

<div style="margin-bottom:5px;">
  {% include "results_pagination.html" %}
</div>

{% if logs %}
  <table class="stats-table" id="logstable">
    <tr>
       <th>Action</th>
       <th>Plist</th>
       <th>Diff</th>
       {% if not filename %}
         <th>Filename</th>
       {% endif %}
       {% if is_admin %}
         <th>Edit Package</th>
       {% endif %}
       <th>Install Types</th>
       <th style="min-width: 60px;">Catalogs</th>
       <th style="min-width: 60px;">Manifests</th>
       {% if report_type == "proposal_logs" %}
         <th>Proposer</th>
         <th>Approver</th>
       {% else %}
         <th>User</th>
       {% endif %}
       <th>Time</th>
      <th>Time Since</th>
    </tr>
    {% for log in logs %}
      <tr>
        <td>
          {{ log.data.action }}
        </td>
        {% if log.data.plist and log.data.action == "pkginfo" %}
          <td style="text-align: center;">
            <a href="/admin/packages/logs?plist={{ log.data.key.id }}">
              <img src="/admin/static/file.png" alt="View plist"/></a>
          </td>
          <td>
            <a class="zippy_toggle button" style="padding-left:10px;" title="diff_{{ log.data.key.id }}">View diff</a>
          </td>
        {% else %}
          <td>&nbsp;</td><td>&nbsp;</td>
        {% endif %}
        {% if not filename %}
          <td>
            <a href="/admin/packages/logs?filename={{ log.data.filename }}">{{ log.data.filename }}</a>
          </td>
        {% endif %}
        {% if is_admin %}
          <td>
            <a href="/admin/package/{{ log.data.filename }}">(edit)</a>
          </td>
        {% endif %}
        <td>{{ log.data.install_types|munki_properties }}</td>
        <td>{{ log.catalogs|tracks_display }}</td>
        <td>{{ log.manifests|tracks_display }}</td>
        <td>{{ log.data.user }}</td>
        {% if report_type == "proposal_logs" %}
          <td>{{ log.data.approver}}
        {% endif %}
        <td>{{ log.data.mtime }}</td>
        <td>{{ log.data.mtime|timesince }}</td>
      </tr>
      {% if log.data.plist and log.data.action == "pkginfo" %}
      <tr id="diff_{{ log.data.key.id }}" class="diffrow">
        <td colspan="2">&nbsp;</td>
        <td colspan="8">
          <span class="diffcode">
          {% for line in log.data.plist_diff %}
            {% if line.start_omitting %}
              <span class="ellipsis" onclick="simian.addClass(this, 'visible');">&nbsp;&nbsp;&nbsp;&#8942;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span class="omittable">{% endif %}
            {% if line.end_omitting %}</span>{% endif %}
            <span class="{{ line.type }}">{{ line.line|spacify }}</span><br/>
          {% endfor %}
          </span>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
  <script type="text/javascript">
    simian.zippyfy('logstable', true);
  </script>

{% include "results_pagination.html" %}

{% endif %}

{% endblock %}
