{% extends "base.html" %}

{% block title %}Panic Mode{% endblock %}

{% block page-content %}

  <h2>Panic Mode Interface</h2>

  <table>
    <tr>
      <th>Mode</th>
      <th>Enabled</th>
      <th>Action</th>
    </tr>
    {% for mode in modes %}
    <tr>
      <td>{{ mode.name }}</td>
      <td>{{ mode.enabled }}</td>
      <td>
        <form method="POST" action="/admin/panic">
          <input type="hidden" name="mode" value="{{ mode.name }}">
          {% if mode.enabled %}
            <input type="submit" name="enabled" value="disable">
          {% else %}
            <input type="submit" name="enabled" value="enable">
          {% endif %}
        </form>
      </td>
    </tr>
  {% endfor %}

{% endblock %}
