<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Simian Panic</title>
  </head>
  <body>
    <h1>Panic Modes interface</h1>
    <p>
      You are about to {{ mode.enabled }} panic mode {{ mode.name }}.
      Please confirm...
    <p>
    <form method="POST" action="/admin/panic">
      <input type="hidden" name="mode" value="{{ mode.name }}">
      <input type="hidden" name="verify" value="1">
      <input type="submit" name="enabled" value="{{ mode.enabled }}">
    </form>
  </body>
</html>
