{% extends "stats_base.html" %}

{% block title %}Lost/Stolen Clients{% endblock %}

{% block page-content %}

<h3>Lost/Stolen Computers</h3>
{% if computers %}
  {{ computers|length }} computers found.
  <table class="stats-table">
    <tr>
      <th>UUID</th><th>Last Connection</th><th>Lost/Stolen Date</th>
      <th>Connections Since</th>
    </tr>
  {% for c in computers %}
    <tr class="{% cycle lbg,dbg %}">
      <td><a href="/admin/host/{{ c.uuid }}">{{ c.uuid }}</a></td>
      <td>{{ c.mtime }} ({{ c.mtime|timesince }})</td>
      <td>{{ c.lost_stolen_datetime }} ({{ c.lost_stolen_datetime|timesince }})</td>
      <td>{% for conn in c.connections %}{{ conn }}<br />{% endfor %}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>Yay!! There are no lost/stolen computers.</p>
{% endif %}

{% endblock %}
