{% extends "stats_base.html" %}

{% block title %}MSU Logs Summary{% endblock %}

{% block page-content %}

{% if summary %}
  <h3>MSU Logs Summary</h3>
  <h4>Generated {{ mtime|timesince }} ago</h4>

  <table class="stats-table">
    <tr><th colspan="2">MSU logs since {{ since }}</th></tr>
    {% for stat in summary %}
    <tr class="{% cycle lbg,dbg %}">
      <td><a href="/admin/msulogevent?event={{ stat.var }}">{{ stat.var }}</a></td>
      <td>{{ stat.val }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <h3>MSU Log Event: {{ msu_event_name }}</h3>
  <a href="/admin">Back to admin home</a>
  <p>
    {{ msu_events|length }} events found (limit {{ limit }}).
    {% if next_page %}
      <a href="/admin/msulogevent?event={{ msu_event_name }}&page={{ next_page }}">Next Page &raquo;</a>
    {% endif %}
  </p>

  <table class="stats-table">
  <tr><th>UUID</th><th>User</th><th>Event Time</th><th>Description</th></tr>
  {% for e in msu_events %}
    <tr>
      <td><a href="/admin/host/{{ e.uuid }}">{{ e.uuid }}</a></td>
      <td>{{ e.user }}</td>
      <td>{{ e.mtime }} ({{ e.mtime|timesince }})</td>
      <td>{{ e.desc }}</td>
    </tr>
    {% endfor %}
  </table>

  <p>
    {% if next_page %}
      <a href="/admin/msulogevent?event={{ msu_event_name }}&page={{ next_page }}">Next Page &raquo;</a>
    {% endif %}
  </p>
{% endif %}
{% endblock %}

