{% extends "stats_base.html" %}

{% block title %}Installs{% endblock %}

{% if host_report %}
  {% block header %}{% endblock %}
{% endif %}

{% block page-content %}

{% if host_report %}
  <h3>Installs</h3>
{% else %}
  {% if pkg %}
    {% if applesus %}
      {% if failures %}
        <h2>Failed Apple SUS Installs: {{ pkg }}</h2>
      {% else %}
        <h2>Successful Apple SUS Installs: {{ pkg }}</h2>
      {% endif %}
      <a href="/admin/installs?applesus=1">Back to Apple SUS list</a>
    {% else %}
      {% if failures %}
        <h2>Failed Installs: {{ pkg }}</h2>
      {% else %}
        <h2>Successful Installs: {{ pkg }}</h2>
      {% endif %}
      <a href="/admin/installs">Back to packages list</a>
    {% endif %}
  {% else %}
    <h2>Packages</h2>
  {% endif %}
{% endif %}

{% if cached_pkgs_list %}
  <table class="stats-table">
  <tr><th>Package</th><th>Avg Duration Secs</th><th>Success</th><th>Failed</th></tr>
  {% for pkg in packages %}
    <tr class="{% cycle lbg,dbg %}">
      <td>{{ pkg.name }}</td>
      <td>{{ pkg.duration_seconds_avg }}</td>
      <td>
        <a href="/admin/installs?pkg={{ pkg.name }}&applesus={{ applesus|yesno:"1,0" }}">{{ pkg.count }}</a>
      </td>
      <td>
        <a href="/admin/installs?pkg={{ pkg.name }}&failures=1&applesus={{ applesus|yesno:"1,0" }}">{{ pkg.fail_count }}</a>
      </td>
    </tr>
  {% endfor %}
  </table>
  <p>* install counts last cached {{ counts_mtime|timesince }} ago.</p>
{% else %}
  {% if packages %}
    <a href="javascript:function() { return false; }"
       onclick="simian.togglePkgDescVisibility(this);">Show Descriptions</a>
    <table class="stats-table" id="pkg-table">
    <tr><th>Package</th><th>Success</th><th>Failed</td><th>Avg Secs</th><th>Pending</th><th>Filename</th><th>Pkginfo</th><th>Unattended</th><th>Force Install Datetime</th><th>Install Types</th><th>Catalogs</th><th>Manifests</th><th>Description</th></tr>
    {% for pkg in packages %}
      <tr class="{% cycle lbg,dbg %}">
        <td>{{ pkg.munki_name }}</td>
        <td>
          <a href="/admin/installs?pkg={{ pkg.munki_name }}"
             >{{ pkg.count }}</a>
        </td>
        <td>
          <a href="/admin/installs?pkg={{ pkg.munki_name }}&failures=1"
             >{{ pkg.fail_count }}</a>
        </td>
        <td>{{ pkg.duration_seconds_avg }}</td>
        <td>
          <a href="/admin/installs?pkg={{ pkg.munki_name }}&pending=1"
             >pending</a>
        </td>
        <td>{{ pkg.filename }}</td>
        <td><a href="/pkgsinfo/{{ pkg.filename }}">pkginfo</a></td>
        <td>{% if pkg.unattended %}unattended{% else %}&nbsp;{% endif %}</td>
        <td>{{ pkg.force_install_after_date }}</td>
        <td>{{ pkg.install_types|join:", " }}</td>
        <td>{{ pkg.catalogs|join:", " }}</td>
        <td>{{ pkg.manifests|join:", " }}</td>
        <td>
          <span style="color: #736F6E;">-hidden-</span>
          <span class="pkg-description"
                style="display: none;">{{ pkg.description }}</span>
        </td>
      </tr>
    {% endfor %}
    </table>
    <p>* install counts last cached {{ counts_mtime|timesince }} ago.</p>
  {% endif %}
{% endif %}

{% if not packages %}
  <p>
    {% if failures %}
      {{ installs|length }} failed installs found (limit {{ limit }}).
    {% else %}
      {{ installs|length }} successful installs found (limit {{ limit }}).
    {% endif %}
    {% if next_page %}
      <a href="/admin/installs?pkg={{ pkg }}&applesus={{ applesus|yesno:"1,0" }}&failures={{ failures|yesno:"1,0" }}&page={{ next_page }}">Next Page &raquo;</a>
    {% endif %}
  </p>
  
  {% if installs %}
  <table class="stats-table">
    <tr class="multi-header">
       {% if host_report or pkg == "all" %}<th>Package</th>{% endif %}
       {% if not host_report %}
         <th>UUID</th>
       {% endif %}
       <th>Status</th>
       <th>On Corp</th>
       <th>Duration Secs</th>
       <th>Time</th>
       <th>Time Since</th>
    </tr>
    {% for install in installs %}
      <tr class="{% cycle lbg,dbg %}">
        {% if host_report or pkg == "all" %}
          <td><a href="/admin/installs?pkg={{ install.package }}"
              >{{ install.package }}</a></td>
        {% endif %}
        {% if not host_report %}
        <td>
          <a href="/admin/host/{{  install.uuid }}">{{ install.uuid }}</a>
        </td>
        {% endif %}
        <td>{{ install.status }}</td>
        <td>{{ install.on_corp }}</td>
        <td>{{ install.duration_seconds }}</td>
        <td>{{ install.mtime }}</td>
        <td>{{ install.mtime|timesince }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No installs found.</p>
  {% endif %}


  {% if host_report %}
    <h3>Apple SUS Installs</h3>
    <p>
    {{ applesus_installs|length }} Apple SUS installs found (limit {{ limit }}).
    </p>

   {% if applesus_installs %}
      <table class="stats-table">
        <tr class="multi-header">
           <th>Package</th>
           <th>Status</th>
           <th>On Corp</th>
           <th>Duration Secs</th>
           <th>Time</th>
           <th>Time Since</th>
        </tr>
        {% for install in applesus_installs %}
          <tr class="{% cycle lbg,dbg %}">
            <td><a href="/admin/installs?pkg={{ install.package }}"
                >{{ install.package }}</a></td>
            <td>{{ install.status }}</td>
            <td>{{ install.on_corp }}</td>
            <td>{{ install.duration_seconds }}</td>
            <td>{{ install.mtime }}</td>
            <td>{{ install.mtime|timesince }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No Apple SUS installs found for this host.</p>
    {% endif %}
  {% endif %}

  {% if next_page %}
    <a href="/admin/installs?pkg={{ pkg }}&applesus={{ applesus|yesno:"1,0" }}&failures={{ failures|yesno:"1,0" }}&page={{ next_page }}">Next Page &raquo;</a>
  {% endif %}

{% endif %}

{% endblock %}

