{% extends "stats_base.html" %}

{% block title %}Statistics{% endblock %}

{% block page-content %}
{% ifequal report_type "track" %}
  <h2>Statistics for track: {{ report_filter }}</h2>
{% endifequal %}

{% if summary %}

<div class="wrap">
  {% block cache_info %}
    {% if not cached %}
      <span class="realtime">Viewing real-time report; loading may be slow.</span>
      <h3>Summary</h3>
      {% if next_page %}
        <p>Over {{ limit }} computers found; summary data limited to viewable results.</p>
      {% endif %}
    {% else %}
      <div class="last-cached">Last cached {{ mtime|timesince }} ago.</div>
      <script type="text/javascript">
      <!--
        setTimeout("location.reload(true);", 60000);
      -->
      </script>
    {% endif %}
  {% endblock %}

  <div class="column">
    <table class="stats-table">
      <tr><th colspan="4">Active Clients</th></tr>
      <tr>
        <th class="subhead">30 day</th>
        <th class="subhead">14 day</th>
        <th class="subhead">7 day</th>
        <th class="subhead">24 hour</th>
      </tr>
      <tr>
        <td>{{ summary.active }}</td>
        <td>{{ summary.active_14d }}</td>
        <td>{{ summary.active_7d }}</td>
        <td>{{ summary.active_1d }}</td>
      </tr>
    </table>

    {% ifnotequal report_type "track" %}
    <table class="stats-table">
      <tr><th colspan="4">Tracks</th></tr>
        {% for track in summary.tracks %}
          <tr class="{% cycle lbg,dbg %}">
            <td><a href="/admin?type=track&filter={{ track.0 }}"
                >{{ track.0 }}</a></td>
            <td>{{ track.1 }}</td>
            <td><a href="/manifests/track={{ track.0 }}">manifest</a></td>
          </tr>
        {% endfor %}
    </table>
    {% endifnotequal %}

    <table class="stats-table">
      <tr><th colspan="2">Connections</th></tr>
      <tr>
        <th class="subhead">On Corp</th>
        <th class="subhead">Off Corp</th>
      </tr>
      <tr>
        <td>
          {{ summary.conns_on_corp_percent|floatformat }}%
        </td>
        <td>
          {{ summary.conns_off_corp_percent|floatformat }}%
        </td>
      </tr>
    </table>
  </div>

  <div class="column">
    <table cellspacing="0" class="stats-table">
      <tr class="multi-header">
        <th>% Off Corp</th>
        <th>Clients</th>
      </tr>
      {% for percent in summary.off_corp_conns_histogram %}
        <tr class="{% cycle lbg,dbg %}"><td>{{ percent.0 }}%</td><td>{{ percent.1|floatformat }}%</td></tr>
      {% endfor %}
    </table>
  </div>

  <div class="column">
    <table class="stats-table">
      <tr><th colspan="2">Client Versions</th></tr>
      {% for version in summary.client_versions %}
        <tr class="{% cycle lbg,dbg %}">
          <td><a href="/admin?type=client_version&filter={{ version.0 }}"
                >{{ version.0 }}</a></td>
          <td>{{ version.1 }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="column">
    <table class="stats-table">
      <tr><th colspan="2">OS Versions</th></tr>
      {% for version in summary.os_versions %}
       <tr class="{% cycle lbg,dbg %}">
         <td><a href="/admin?type=os_version&filter={{ version.0 }}"
                >{{ version.0 }}</a></td>
         <td>{{ version.1 }}</td>
       </tr>
      {% endfor %}
    </table>
  </div>

  <div style="clear: both;"></div>

  {% ifnotequal report_type "site" %}
  <h3>Client count by site:</h3>
  <div style="max-width: 80%;">
    <ol class="clients-by-site">
    {% for site in summary.sites_histogram %}
      <li>
        <b>{{ site.0 }}</b>:
        <a href="/admin?type=site&filter={{ site.0 }}"
           >{{ site.1 }}</a>
      </li>
    {% endfor %}
    </ol>
  </div>
  {% endifnotequal %}
  {% endif %}  {# endif summary  #}

  {% ifequal report_type "diskfree" %}
    <h3>Disk Free Report</h3>
  {% endifequal %}

  {% ifequal report_type "pkgs_to_install" %}
    <h3>Pending: {{ pkg }}</h3>
    <a href="/admin/installs">Back to installs list</a><br />
  {% endifequal %}

  {% if computers %}
    <h3>Computers</h3>
    {% if computers|length > limit %}
      Results limited to {{ limit }} computers.
    {% else %}
      {{ computers|length }} computers displayed.
    {% endif %}

  {% if next_page %}
    {% ifequal report_type "pkgs_to_install" %}
      <a href="/admin/installs?pkg={{ pkg }}&pending=1&page={{ next_page }}">Next Page &raquo;</a>
    {% else %}
      <a href="/admin?type={{ report_type }}&filter={{ report_filter }}&page={{ next_page }}">Next Page &raquo;</a>
    {% endifequal %}
  {% endif %}

  <table class="stats-table">
    <tr class="multi-header">
       {% if report_type == "diskfree" %}
         <th>Disk Free</th>
       {% else %}
         {% if report_type == "uptime" %}
           <th>Uptime</th>
         {% else %}
           {% if report_type == "offcorp" %}
             <th>Last Off Corp Preflight</th>
           {% endif %}
         {% endif %}
       {% endif %}
       <th>Hostname</th><th>UUID</th><th>Owner</th><th>Track</th>
       <th>Config Track</th><th>OS Version</th><th>Munki Version</th>
       <th>Site</th><th>Office</th>
       <th>(on/off corp)</th>
       <th>Last Preflight</th>
       <th>Last Postflight</th>
    </tr>
    {% for computer in computers %}
    <tr class="{% cycle lbg,dbg %}">
      {% if report_type == "diskfree" %}
        <td>{{ computer.root_disk_free|filesizeformat }}</td>
      {% else %}
        {% if report_type == "uptime" %}
          <td>{{ computer.uptime }}</td>
        {% else %}
          {% if report_type == "offcorp" %}
            <td>{{ computer.last_on_corp_preflight_datetime }}
                ({{ computer.last_on_corp_preflight_datetime|timesince }})</td>
          {% endif %}
        {% endif %}
      {% endif %}
      <td>{{ computer.hostname }}</td>
      <td>
        {% ifequal report "host" %}
          {{ computer.uuid }}
        {% else %}
          <a href="/admin/host/{{ computer.uuid }}">{{ computer.uuid }}</a>
        {% endifequal %}
      </td>
      <td><a href="/admin?type=owner&filter={{ computer.owner }}"
          >{{ computer.owner }}</a></td>
      <td>{{ computer.track }}</td>
      <td>{{ computer.config_track }}</td>
      <td>{{ computer.os_version }}</td>
      <td>{{ computer.client_version }}</td>
      <td>{{ computer.site }}</td>
      <td>{{ computer.office }}</td>
      <td>{{ computer.connections_on_corp }} /
          {{ computer.connections_off_corp }}
      </td>
      <td>{{ computer.preflight_datetime|timesince }}</td>
      <td>{{ computer.postflight_datetime|timesince }}</td>
    </tr>
    {% endfor %}
  </table>

  {% if next_page %}
    Results limited to {{ limit }} computers.
    <a href="/admin?type={{ report_type }}&filter={{ report_filter }}&page={{ next_page }}">Next Page &raquo;</a>
  {% endif %}

  {% endif %}

  <p>
    <h3>Client Reports</h3>
    <ul>
      <li>Packages:
        <a href="/admin/installs">List</a> |
        <a href="/admin/installs?historical=1">Historical List</a> |
        <a href="/admin/installs?pkg=all">All Installs</a>
      </li>
      <li>Apple SUS Updates:
        <a href="/admin/installs?applesus=1">Historical List</a> |
        <a href="/admin/installs?pkg=all&applesus=1">All Installs</a> |
        <a href="/admin/applesus">Admin</a>
      </li>
      <li><a href="/admin/installproblems">Install Problems</a></li>
      <li><a href="/admin/preflightexits">Preflight Exits</a></li>
      <li><a href="/admin/diskfree">Low Disk Space</a></li>
      <li><a href="/admin/uptime">Long Uptime</a></li>
      <li><a href="/admin/offcorp">Longest Off Corp</a></li>
    </ul>

    <h3>Admin Reports</h3>
    <ul>
      <li><a href="/admin/brokenclients">Broken Clients</a></li>
      <li><a href="/admin/applesus">Apple SUS Admin</a></li>
      <li><a href="/admin/loststolen">Lost/Stolen Computers</a></li>
      <li><a href="/admin/adminlogs">Admin Logs</a></li>
      <li><a href="/admin/user_settings">UserSettings Knobs</a></li>
      <li>
        <a href="/admin/manifest_modifications">Manifest Modifications</a>
      </li>
      <li><a href="/admin/package_alias">Package Aliases</a></li>
      <li>
        MSU log summaries:
        <a href="/admin/msulogsummary">for all time</a> or
      	<a href="/admin/msulogsummary/1">since 1 day</a> or
      	<a href="/admin/msulogsummary/7">since 7 days</a>
      </li>
    </ul>
  </p>
</div>
{% endblock %}
