{% extends "stats_base.html" %}

{% block title %}Host: {{ computer.hostname }}{% endblock %}

{% block page-content %}
<div class="wrap">
{% if not computer %}
    <p>No computer with the specified UUID was found.</p>
{% else %}
<div class="box collapsible" style="margin-top: 10px;">
  <div class="box-header">Client Information</div>
  <div class="box-content">
  <table class="stats-table">
    <tr class="multi-header">
       <th>Hostname</th>
       <th>Serial</th>
       {% if uuid_lookup_url %}<th>Host Details</th>{% endif %}
       <th>Owner</th>
       {% if owner_lookup_url %}<th>Owner Details</th>{% endif %}
       <th>Site</th><th>Office</th><th>Config Track</th>
       <th>OS Version</th><th>HDD Bytes Free</th><th>Uptime</th>
    </tr>
    <tr>
      <td>
        <a href="/admin?type=hostname&filter={{ computer.hostname }}"
          >{{ computer.hostname }}</a>
      </td>
      <td>{{ computer.serial }}</td>
      {% if uuid_lookup_url %}
        <td class="center"><a href="{{ uuid_lookup_url }}/{{ computer.uuid }}">view</a></td>
      {% endif %}
      <td>
        <a href="/admin?type=owner&filter={{ computer.owner }}"
          >{{ computer.owner }}</a>
      </td>
      {% if owner_lookup_url %}
        <td class="center"><a href="{{ owner_lookup_url }}/{{ computer.owner }}">view</a></td>
      {% endif %}
      <td>{{ computer.site }}</td>
      <td>{{ computer.office }}</td>
      <td>{{ computer.config_track }}</td>
      <td>{{ computer.os_version }}</td>
      <td>{{ computer.root_disk_free|filesizeformat }}</td>
      <td>{{ uptime }}</td>
    </tr>
  </table>

  <table class="stats-table">
    <tr class="multi-header">
       {% if not computer.active %}<th>Status</th>{% endif %}
       <th>UUID</th>
       <th>Track</th>
       <th>Munki Version</th>
       <th>Dynamic Manifest</th>
       <th>User Settings</th>
    </tr>
    <tr>
      {% if not computer.active %}
        <td style="color: red;">Inactive</td>
      {% endif %}
      <td>
        {{ computer.uuid }}
      </td>
      <td>{{ computer.track }}</td>
      <td>{{ computer.client_version }}</td>
      <td class="center">
        <a href="/admin/hostmanifest/{{ computer.uuid }}"
          >view</a>
      </td>
      <td>
        {% if computer.user_settings %}
          <pre>{{ computer.user_settings }}</pre>
        {% else %}
          None
        {% endif %}
      </td>
  </table>
  </div>
</div>

<div class="box collapsible">
  <div class="box-header">Connection Details</div>
  <div class="box-content">
    <table class="stats-table">
      <tr class="multi-header">
        <th>Last Preflight</th>
        <th>Last Postflight</th>
        <th>(on/off corp)</th>
        <th>Last Corp Preflight</th>
        <th>Last IP Address</th>
      </tr>
      <tr>
        <td>{{ computer.preflight_datetime }}
            ({{ computer.preflight_datetime|timesince }})</td>
        <td>{{ computer.postflight_datetime }}
            ({{ computer.postflight_datetime|timesince }})</td>
        <td class="center">
            {{ computer.connections_on_corp }} /
            {{ computer.connections_off_corp }}
        </td>
        <td>{{ computer.last_on_corp_preflight_datetime }}
            ({{ computer.last_on_corp_preflight_datetime|timesince }})</td>
        {% if is_admin or is_security_user %}
          <td>{{ computer.ip_address }}</td>
        {% else %}
          <td>--redacted--</td>
        {% endif %}
      </tr>
    </table>
    <h4>Connection Dates</h4>
    <p>
      {% for cd in computer.connection_dates %}
        {{ cd|date }} ...
      {% endfor %}
    </p>

    <h4>Time Since Last Connections...</h4>
    <p>
      {% for cdt in computer.connection_datetimes %}
        {{ cdt|timesince }} ...
      {% endfor %}
    </p>
  </div>
</div>


<div class="box collapsible">
  <div class="box-header">Client Logs</div>
  <div class="box-content collapsed">
  {% if is_admin %}
  <h4>Log Files</h4>
  {% if computer.upload_logs_and_notify %}
    <span id="logs-to-be-uploaded-note">
      <b>Note:</b>
      Logs are due to upload on the next preflight execution.
      The following email addresses will be notified:
      {{ computer.upload_logs_and_notify }}
    </span>
  {% else %}
    <form method="POST">
      <input type="hidden" name="action" value="upload_logs" />
      <input type="hidden" name="uuid" value="{{ computer.uuid }}" />
      <input type="submit" value="Upload logs on next preflight" />
    </form>
  {% endif %}

  {% if not client_log_files %}
    <p>No logs found for this host.</p>
  {% else %}
    <table class="stats-table">
      <tr class="multi-header">
        <th>Log Name</th><th>Upload Time</th><th>Time Since</th><th>Delete</th>
      </tr>
      {% for log in client_log_files %}
        <tr id="{{ log.key.name }}-row">
          <td>
            <a href="/admin/clientlog/{{ log.key.name }}"
               target="_blank">{{ log.name }}</a>
          </td>
          <td>{{ log.mtime }}</td>
          <td>{{ log.mtime|timesince }}</td>
          <td><input type="button" name="{{ log.key.name }}" value="Delete"
                     onclick="javascript:simian.deleteClientLogFile(this);" />
          </td>
        </tr>
      {% endfor %}
    </table>
   {% endif %}
  {% endif %}

  <h4>MSU Logs</h4>
  <p>
    Last MSU Popup (from ManagedInstalls.plist):
    {{ computer.last_notified_datetime }}
    ({{ computer.last_notified_datetime|timesince }})
  </p>
  {% if msu_log %}
    <table class="stats-table">
      <tr class="multi-header">
        <th>Event</th><th>Source</th><th>Description</th><th>Time</th><th>Time Since</th>
      </tr>
      {% for log in msu_log %}
        <tr class="{% cycle lbg,dbg %}">
          <td>{{ log.event }}</td>
          <td>{{ log.source }}</td>
          <td>{{ log.desc }}</td>
          <td>{{ log.mtime }}</td>
          <td>{{ log.mtime|timesince }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No MSU logs found for this host.</p>
  {% endif %}
  </div>
</div>


<div class="box collapsible">
  <div class="box-header">Packages, Installs, and Updates</div>
  <div class="box-content collapsed">
  <h4>Remaining Packages To Install</h4>
  {% if computer.pkgs_to_install %}
    <table class="stats-table">
    <tr class="multi-header"><th>Package Name</th></tr>
    {% for pkg in computer.pkgs_to_install %}
      <tr><td>{{ pkg }}</td></tr>
    {% endfor %}
    </table>
  {% else %}
    This client has no packages to install.
  {% endif %}


  {% include "stats_installs.html" %}
  </div>
</div>


<div class="box collapsible">
  <div class="box-header">Problems, Exits, etc.</div>
  <div class="box-content collapsed">
  {% include "stats_installproblems.html" %}
  {% include "stats_preflightexits.html" %}
  </div>
</div>

{% if is_admin or is_support_user %}
<div class="box collapsible">
  <div class="box-header">Misc Admin Actions</div>
  <div class="box-content collapsed">
    {% if computer.active %}
      <form method="POST">
        <input type="hidden" name="action" value="set_inactive"/>
        <input type="submit" value="Set Client As Inactive"/>
      </form>
    {% endif %}
    <br/>
    <form method="POST">
      <input type="hidden" name="action" value="set_loststolen"/>
      <input type="submit" value="Set Client As Lost/Stolen"/>
    </form>
  </div>
</div>
{% endif %}

{% endif %}
</div>
{% endblock %}

