<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Simian Stats: {% block title %}{% endblock %}</title>
  <link href="/admin/static/base.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/admin/static/base.js"></script>
  {% block head-content %}{% endblock %}
  </head>
<body>
  {% block header %}
    <header>
      <span class="title"><a href="/admin">Simian Statistics Dashboard</a></span>
      <form class="search" action="/admin" method="GET">
        <label for="owner">Username:<input type="radio" name="type" value="owner" id="owner" checked="checked" /></label> |
        <label for="hostname">Hostname:<input type="radio" name="type" value="hostname" id="hostname" /></label> |
        <label for="serial">Serial:<input type="radio" name="type" value="serial" id="serial" /></label> |
        <label for="uuid">UUID:<input type="radio" name="type" value="uuid" id="uuid" /></label>
        Value: <input type="text" name="filter" id="search-box" />
        <input type="submit" value="Search" />
      </form>
    </header>
  {% endblock %}
  {% block page-content %}{% endblock %}
</body>
</html>
