{% extends "stats_base.html" %}

{% block title %}Package Aliases{% endblock %}

{% block page-content %}

<h3>Package Aliases</h3>
{% if aliases %}
  {{ aliases|length }} package aliases found.
  <table class="stats-table">
    <tr>
      <th>Alias Name</th><th>Enabled</th><th>Package Target</th>
    </tr>
  {% for a in aliases %}
    <tr class="{% cycle lbg,dbg %}">
      <td>{{ a.key.name }}</td>
      <td>{{ a.enabled }}</td>
      <td>
      {% if a.munki_pkg_name %}
      <a href="/admin/installs?pkg={{ a.munki_pkg_name }}">{{ a.munki_pkg_name }}</a>
      {% else %}
      {{ a.munki_pkg_name }}
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No package aliases found.</p>
{% endif %}

{% endblock %}
