<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Simian Stats: {% block title %}{% endblock %}</title>
  <link href="/admin/static/base.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/admin/static/base.js"></script>
  {% block head-content %}{% endblock %}
  </head>
<body>
  {% block header %}
    <header>
      <span class="title"><a href="/admin">Simian Statistics Dashboard</a></span>
      <form class="search" action="/admin" method="GET">
        <label for="search-owner">Username:</label><input type="radio" name="type" value="owner" id="search-owner" checked="checked" /> |
        <label for="search-hostname">Hostname:</label><input type="radio" name="type" value="hostname" id="search-hostname" /> |
        <label for="search-serial">Serial:</label><input type="radio" name="type" value="serial" id="search-serial" /> |
        <label for="search-uuid">UUID:</label><input type="radio" name="type" value="uuid" id="search-uuid" />
        Value: <input type="text" name="filter" id="search-box" />
        <input type="submit" value="Search" />
      </form>
    </header>
  {% endblock %}
  {% block page-content %}{% endblock %}
</body>
</html>
