{% extends "stats_base.html" %}

{% block title %}Installation Problems{% endblock %}

{% if host_report %}
  {% block header %}{% endblock %}
{% endif %}

{% block page-content %}

{% if host_report %}
  <h3>Installation Problems</h3>
{% else %}
  <h2>Installation Problems</h2>
{% endif %}

  <p>{{ install_problems|length }} problems found (limit {{ limit }}).</p>

  {% if next_page %}
    <a href="/admin/installproblems?page={{ next_page }}">Next Page &raquo;</a>
  {% endif %}

{% if install_problems %}
  <table class="stats-table">
    <tr>
       <th>Details</th>
       {% if not host_report %}
         <th>UUID</th>
       {% endif %}
       <th>Time</th>
       <th>Time Since</th>
    </tr>
    {% for problem in install_problems %}
      <tr class="{% cycle lbg,dbg %}">
        <td>{{ problem.details }}</td>
        {% if not host_report %}
        <td>
          <a href="/admin/host/{{ problem.uuid }}">{{ problem.uuid }}</a>
        </td>
        {% endif %}
        <td>{{ problem.mtime }}</td>
        <td>{{ problem.mtime|timesince }}</td>
      </tr>
    {% endfor %}
  </table>

  {% if next_page %}
    <a href="/admin/installproblems?page={{ next_page }}">Next Page &raquo;</a>
  {% endif %}

{% endif %}

{% endblock %}

