{% extends "base.html" %}

{% block title %}User Settings{% endblock %}

{% block page-content %}

{% if computers %}
  {{ computers|length }} computers with UserSettings found.
  <table class="stats-table">
    <tr>
      <th>Hostname</th><th>UUID</th><th>Owner</th><th>Track</th>
      <th>Config Track</th><th>Client Version</th><th>OS Version</th>
      <th>Site</th><th>Last Preflight</th>
      <th>Last Postflight</th><th>User Settings</th>
    </tr>
  {% for c in computers %}
    <tr>
      <td>{{ c.hostname }}</td>
      <td>{{ c.uuid|host_uuid_link }}</td>
      <td>
        <a href="/admin?type=owner&filter={{ c.owner }}"
           >{{ c.owner }}</a>
      </td>
      <td>{{ c.track }}</td>
      <td>{{ c.config_track }}</td>
      <td>{{ c.client_version }}</td>
      <td>{{ c.os_version }}</td>
      <td>{{ c.site }}</td>
      <td>{{ c.preflight_datetime|timesince }}</td>
      <td>{{ c.postflight_datetime|timesince }}</td>
      <td>{{ c.user_settings }}</td>
  {% endfor %}
  </table>
{% else %}
  <p>There are no clients with UserSettings.</p>
{% endif %}

{% endblock %}
