/**
 * Copyright 2012 Google Inc. All Rights Reserved.
 *
 * Base elements and general style.
 *
 */

body {
  margin: 0;
  padding: 0 0 150px 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: .8125em;
  background-color: #FFF;
  color: #222;
  font-size: 13px;
  white-space-collapsing: discard;
}

a {
  color: #1155CC;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h2 a, .title2 {
  display: inline;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #222222;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 13px;
}


.tt {
  font-family: "Courier New", "Courier", monospace;
  font-size: 1.2em;
}

li {
  margin: .2em 0;
}

.count {
  color: #666;
  font-size: 0.9em;
}

.success {
  font-weight: bold;
  color: #090;
}

.note {
  font-size: 0.8em;
  color: #999;
}
.note2 {
  color: #666;
  font-size: 0.9em;
}
